[submodule "3rdParty/DPF"]
	path = 3rdParty/DPF
	url = https://github.com/DISTRHO/DPF.git
[submodule "3rdParty/imgui"]
	path = 3rdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdParty/vcl-graph"]
	path = 3rdParty/vcl-graph
	url = https://github.com/HITOA/vcl-graph
[submodule "3rdParty/json"]
	path = 3rdParty/json
	url = https://github.com/nlohmann/json
